.content > p {
  margin-top: 16px;
  margin-bottom: 0;
}

.back {
  width: 64px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.back:hover {
  border-bottom: solid 2px;
  margin-bottom: 14px;
}
.back:active:hover {
  border-bottom: solid 5px;
  margin-bottom: 11px;
}

.backArrow {
  font-weight: bold;
  text-decoration: none;
}

.date {
  font-style: italic;
  margin: 0;
}

.quote {
  border-left: 4px solid #bbb;
  padding-left: 8px;
  font-style: italic;
}

.footer {
  margin-bottom: 24px;
}
