.content > p {
  margin-top: 16px;
  margin-bottom: 0;
}

.back {
  width: 64px;
  margin-top: 32px;
  margin-bottom: 16px;
  border-bottom: 2px solid;
  border-color: transparent;
}
.back:hover {
  margin-bottom: 16px;

  border-color: black;
}
.back:active:hover {
  margin-bottom: 14px;
  border-width: 4px;
  border-color: black;
}

.backArrow {
  font-weight: bold;
  text-decoration: none;
}

.date {
  font-style: italic;
  margin: 0;
}

.quote {
  border-left: 4px solid #bbb;
  padding-left: 8px;
  font-style: italic;
}

.footer {
  margin-bottom: 24px;
}
