.wrapper {
  display: flex;
  align-items: center;
  padding: 8px 0 16px 0;
  margin-bottom: 8px;
  font-weight: 300;
  cursor: pointer;
}
.wrapper:hover {
  padding: 6px 0 14px 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.wrapper:active:hover {
  padding: 4px 0 12px 0;
  border-top: 4px solid;
  border-bottom: 4px solid;
}

.thumbnail {
  margin-top: 6px;
  margin-right: 16px;
}

.sample {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  max-width: 450px;
}

.date {
  font-style: italic;
  margin: 3px 8px;
  text-decoration: none;
  display: inline-block;
}

.text {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  margin-top: 6px;
}

@media (max-width: 750px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .date {
    margin-left: 0;
    margin-top: 0;
  }
}
