.summary {
  margin-top: 0;
  margin-bottom: 16px;
}

.employees {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.placeholderImage {
  background-color: #aaf;
  height: 256px;
  width: 256px;
  margin-bottom: 8px;
}

.descriptionContainer {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.descriptionContainer > p {
  margin: 0px;
}
