.main {
  min-height: 100vh;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
}

.title {
  margin: 2rem 0;
  text-align: center;
  line-height: 1.5;
  font-size: 2rem;
}

.sample {
  margin-bottom: 1.5rem;
}
