.container {
  display: flex;
  min-width: 300px;
  margin-bottom: 16px;
}
.container > *:not(:first-child) {
  margin-left: 24px;
}

.navtab {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.active {
  border-bottom: solid 4px black;
  margin-bottom: 4px;
}
.active:hover,
.active:active:hover {
  border-bottom: solid 4px;
  margin-bottom: 4px;
}
