@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  overflow-x: hidden;
  background-color: var(--bg);

  --text: #101010;
  --bg: #F0F0F0;
  --svg-invert: 0%;

  @media (prefers-color-scheme: dark) {
    --text: #F0F0F0;
    --bg: #101010;
    --svg-invert: 100%;
  }
}

a {
  color: var(--text);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background: var(--text);
  transition: width .2s;
}
a:hover:after {
  width: 100%;
}

p,
li,
blockquote {
  color: var(--text);
  font-weight: 300;
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  font-family: 'Sora', serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin: 8px 0;
  font-weight: 800;
}

h3 {
  margin: 16px 0;
  font-size: 16px;
  font-weight: 600;
}

h4 {
  margin: 16px 0 0;
}

strong {
  font-weight: 600;
}

blockquote {
  text-align: center;
}

* {
  box-sizing: border-box;
}

svg path {
  shape-rendering: geometricPrecision;
}

.quote {
  border-left: 4px solid #bbb;
  padding-left: 8px;
  font-style: italic;
}

.social {
  filter: invert(var(--svg-invert));
}

.direction-nav {
  background-color: var(--bg);
}

.active-link:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  background: var(--text);
}
